.container {
  .tag {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 0 4px 0 4px;
    border: none;
    .host {
      padding: 0 5px;
      border-radius: 2px;
      line-height: 16px;
      display: inline-block;
      background: rgb(143, 149, 158);
      color: #fff;
      margin-right: 4px;
    }
    .name {
      padding: 0 5px;
      border-radius: 2px;
      line-height: 18px;
      display: inline-block;
      cursor: pointer;
      &:hover {
        background: rgb(229, 229, 229);
      }
    }
  }
  &:hover .tool {
    display: block;
  }
}
