.chat {
  position: fixed;
  z-index: 1000;
  left: 10px;
  bottom: 70px;
  -webkit-mask-image: linear-gradient(transparent, #000);
  mask-image: linear-gradient(transparent, #000);
  input {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    transition: width .3s;
    outline: none!important;
    text-indent: 16px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: rgb(221, 221, 221);
    &:hover {
      background: rgba(0, 0, 0, 0.6);
    }
    &:focus {
      width: 300px;
    }
    &::placeholder {
      color: rgb(200, 200, 200);
    }
  }
}