.container {
  height: calc(100vh - 64px);
  width: 100%;
  flex: auto;
  display: flex;
  flex-direction: column;
  background: rgb(245, 246, 247);

  .header {
    height: 38px;
    width: 100%;
    background: #fff;
  }
  
  .content {
    flex: auto;
    padding: 8px;
    position: relative;
  }
}

